
/* generales */
/* html{
    font-size: 62.5%;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #D7DEF1;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #D7DEF1;
}
a:hover{
    text-decoration: none;
    color: #D7DEF1;
}
textarea{
    height: 13rem;
}
/* generales end */


/* header */
.header{
    display: flex;
    align-items: center;
    background-color: #003049;
    height: 20vh;
    width: 100%;
    padding-top: 2vh;
    z-index: 2;
}

.h-index{
    position: fixed;
}
/* header end */

/* navegacion */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}
.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav ul li {
    margin-left: 1rem;
    border-bottom: solid transparent 2px;
    transition: border 1s;
}

.nav ul li:hover {
    border-bottom: solid #D7DEF1 2px;
}

.download{
    background-color: #B5280C;
    background-size: 100%;
    border-radius: .4rem;
    border: 6px #B5280C solid;
    transition: all .5s;
}

.download:hover{
    border: solid #972811 6px;
    background-color: #972811;
}

.logo{
    width: 10rem;
    font-family: 'Roboto Serif', sans-serif;
    font-style: italic;
}
.logo h2{
    margin: 0;
}

/* navegacion end*/

/* main */
main{
    background-color: #003049;
    padding-bottom: 2vh;
}

/* descarga */
.descarga{
    height: 100vh;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 35vh;
    margin-bottom: 2vh;
}

.descarga p{
    margin: 2rem 0;
}
.descarga .download{
    font-size: 2rem;
}

/* descarga end */

/* tabla */
.tabla{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

/* tabla end */

/* premios */
.premios{
    text-align: center;
}
.premio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.premio img{
    width: 10rem;
    transition: all 1s;
}

.premio img:hover{
    width: 13rem;
}
/* premios end */

/* ventajas */
.ventaja{
    border-radius: 7px;
    background-color: #17435A;
}
/* ventajas end */

/* main end */

/* footer */
.footer{
    display: flex;
    align-items: center;
    align-content: flex-end;
    background-color: #17435A;
    height: 17vh;
}
/* footer end */

/* download */

.download-main{
    height: 70rem;
}

.planes h2{
    margin-bottom: 2vh;
}

.planes-grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.plan{
    background-color: #D7DEF1;
    color: #17435A;
    padding: 2rem;
    border-radius: 7px;
    border: solid transparent 5px;
    transition: all 1s;
}

.plan:hover{
    cursor: pointer;
    border: solid #178a9e 5px;
    background-color: #c7cad4;
}

.plan h4{
    font-size: 2rem;
}
.plan span{
    font-size: 3rem;
}

/* download end */

/* Resposive */
@media (min-width: 768px) {
    /* header */
    .header{
        height: 15vh;
    }
    .nav ul {
        flex-direction: row;
    }

    /* main */
    .tabla{
        overflow-x: hidden;
    }
    .premios-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: .8rem;
    }

    /* footer */
    .footer{
        height: 10vh;
    }

    /* download */
    .download-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60rem;
    }
}

@media (min-width: 992px) {
    .download-main{
        height: 47rem;
    }
    .planes-grid{
        grid-template-rows: 1fr;
        grid-template-columns: repeat( 3, 1fr);
    }
}
/* Resposive end */