.header{
    display: flex;
    align-items: center;
    background-color: $azulOscuro;
    height: 20vh;
    width: 100%;
    padding-top: 2vh;
    z-index: 2;
}
@media (min-width: 768px) {
    .header{
        height: 15vh;
    }
}

.h-index{
    position: fixed;
}